<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenCV | Face Detection | Emmanuel Allan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= '/css/styles.css') }}">

    <script src="{{url_for('static', filename='/js/index.js')}}"></script>

</head>
<body>
   <h1>Welcome to Flask OpenCV</h1>
   
  <div class="camera hide">
    <video id="video" >Video stream not available.</video>
  </div>
  <canvas id="canvas" class='hide'> </canvas>
  <div class="output">
    <img id="photo" alt="The screen capture will appear in this box." />
  </div>
<footer>
  <p>Made with 💖 by Emmanuel Allan</p>
  <a href="https://github.com/EmmanuelAllanMJ/OpenCV-Flask-App">Github Link</a>
    <a href='https://www.linkedin.com/in/emmanuel-allan/'>LinkedIn</a>
</footer>
</div>


</body>
</html>